In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
from matplotlib import pyplot as plt
import sweetviz as sv

In [2]:
PP = pd.read_csv("D:/Train/Patient_Profile.csv")

In [3]:
PP.head()

,Patient_ID,Online_Follower,LinkedIn_Shared,Twitter_Shared,Facebook_Shared,Income,Education_Score,Age,First_Interaction,City_Type,Employer_Category
0,516956,0,0,0,0,1,90,39,18-Jun-03,NaN,Software Industry
1,507733,0,0,0,0,1,None,40,20-Jul-03,H,Software Industry
2,508307,0,0,0,0,3,87,46,02-Nov-02,D,BFSI
3,512612,0,0,0,0,1,75,47,02-Nov-02,D,Education
4,521075,0,0,0,0,3,None,80,24-Nov-02,H,Others

In [4]:
PP["Online_Score"] = PP["Online_Follower"] + PP["LinkedIn_Shared"] + PP["Twitter_Shared"] + PP["Facebook_Shared"]

In [5]:
del PP["Online_Follower"]
del PP["LinkedIn_Shared"]
del PP["Twitter_Shared"]
del PP["Facebook_Shared"]

In [9]:
PP.replace("None", np.NaN, inplace = True)

In [10]:
PP_EDA_report = sv.analyze(PP)
PP_EDA_report.show_html()

:FEATURES DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:01  -> (00:00 left)

Creating Associations graph... DONE!
Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.